body html {
  background-image: linear-gradient(blue);
}

.na {
  display: flex;
  place-content: center;
}
.nav {
  /* border-bottom: 2px solid var(--bs-warning-bg-subtle); */
  display: flex;
  border-top: 2px solid #ffffff;
  /* border-bottom: 2px solid blue; */
  margin-bottom: 1% !important;
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-link-color);
  --bs-nav-link-hover-color: var(--bs-link-hover-color);
  --bs-nav-link-disabled-color: var(--bs-secondary-color);
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  justify-content: space-around;
}
.collapse {
  word-wrap: break-word;
  transition: height 1s ease;
  border: none;
}
.collapse.show:has(table) {
  box-shadow: 12px 12px 12px rgb(128, 95, 247);
  height: auto; /* يضبط ارتفاع الـ collapse حسب الجدول */
}

.collapse.show {
  height: 100%;
  box-shadow: 5px 5px 10px rgb(128, 95, 247);
  transition: height 1s ease;
  padding: 10px;
  border: 2px solid #0d6efd;
  border-radius: 20px;
  color: #0d6efd;
}

h3 {
  /* margin-bottom: 1%; */
  font-size: 4.5vh;
  color: #fff;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  clear: both;
  font-weight: 400;
  color: #0d6efd;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  border-radius: var(--bs-dropdown-item-border-radius, 0);
}
.all {
  width: 100%;
  border-radius: 25px;
  box-shadow: inset 5px 5px 10px rgb(128 95 247 / 42%);
  box-shadow: 2 2 2 2;
  padding: 20px;
  border: 2px solid #0d6efd;
  display: flex;
  gap: 25px;
}
button {
  background-color: lightblue;
  font-weight: bolder;
  color: blue;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
@media (max-width: 768px) {
  .form-control,
  .form-select {
    width: 100%;
  }
}
.first {
  color: #04e6ff;
}

.ba {
  border-top-right-radius: 80px;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 80px;
  background-color: #0d6efd;
}
.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: #ffffff;
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.carousel-caption {
  border-radius: 57px;
  border: none;
  background-color: #000000ba;
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}
.effect {
  font-weight: bolder;
  box-shadow: inset 0px 16px 20px 3px #0d6efd;
}
form {
  margin-left: 26pt;
}
.mb-4 {
  display: block;
  display: flex;
  place-content: center;
  justify-content: center;
  color: #0d6efd;
  margin-left: 8px;
}
caption {
  caption-side: top; /* افتراضي: أعلى الجدول */
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
