body {
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.na {
  display: flex;
  place-content: center;
}
.nav {
  display: flex;
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
  margin-bottom: 3% !important;
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-link-color);
  --bs-nav-link-hover-color: var(--bs-link-hover-color);
  --bs-nav-link-disabled-color: var(--bs-secondary-color);
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  justify-content: space-around;
}
.collapse {
  transition: height 1s ease;
  border: none;
}
.collapse.show:has(table) {
  box-shadow: 12px 12px 12px rgb(128, 95, 247);
  height: auto; /* يضبط ارتفاع الـ collapse حسب الجدول */
}
element.style {
  margin-top: 1%;
  font-weight: 700;
}
.collapse.show {
  height: 100%;
  box-shadow: 5px 5px 10px rgb(128, 95, 247);
  transition: height 1s ease;
  padding: 10px;
  border: 2px solid #0d6efd;
  border-radius: 20px;
  color: #0d6efd;
}

h3 {
  background: blue;
  margin-bottom: 3%;
  font-size: 4.5vh;
  color: #fff;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  clear: both;
  font-weight: 400;
  color: #0d6efd;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  border-radius: var(--bs-dropdown-item-border-radius, 0);
}
.all {
  display: flex;
  gap: 25px;
}
button {
  background-color: lightblue;
  font-weight: bolder;
  color: blue;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
